body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #111;
    color: white;
    padding: 15px;
}

nav button {
    margin: 5px;
    padding: 10px;
}

.tab {
    display: none;
    padding: 20px;
}

.tab.visible {
    display: block;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

button.share {
    background: green;
    color: white;
    padding: 5px;
}
